// Font Family
// $main-font: 'gordita';
// var(--eb_garamond-font): 'EB Garamond', serif;

// Color Settings
$text-color: rgba(0, 0, 0, 0.7);
$text-dark: #000;
$heading: #254035;
$light-bg: #eff6f3;
$color-one: #add8e6;
$color-two: #eff6f6;
$color-three: #14adbd;
$color-four: #eed30d;
$color-five: #eed30d;
