@media (max-width: 1024px) {
  .ee-form-div {
    width: 40% !important;    
  }
}

@media (max-width: 768px) {
  .ee-form-div {
    width: 50% !important;    
  }
}

@media (max-width: 576px) {
  .ee-form-div {
    width: 80% !important;    
  }
}

@media (max-width: 425px) {
  .ee-form-div {
    width: 100% !important;   
  }
}


.form-widget{
  border-radius: 2rem;
  
  margin-top: 1rem;
}

